.filter-grayscale {
  filter: grayscale(70%);
}

.filter-blur {
  filter: blur(4px);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-multiple {
  filter: contrast(120%) hue-rotate(53deg) saturate(90%);
}

.filter-hue-rotate {
  filter: hue-rotate(120deg);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-invert {
  filter: invert(65%);
}
