@media (width <= 375px) {
  .header {
    min-block-size: 327px;
  }

  .card__img-label {
    inset-inline-end: 11px;
  }

  .modal {
    padding: 30px 40px;
    max-inline-size: 340px;
    font-size: 90%;
  }

  .button-save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .header__title {
    padding-top: 62px;
    line-height: 0.5rem;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--page-background-color, #fff)) or
    (text-stroke: 1px var(--page-background-color, #fff))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--page-background-color, #fff);
    text-stroke: 1px var(--page-background-color, #fff);
  }
}
